<ion-header>
  <ion-navbar>
    <ion-title>Suggestions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p>It is recommended that you have the following dishes:</p>

  <p>For energy:</p>
  <button ion-item *ngIf="dishes[foodSelections[0]]!==undefined">
    {{dishes[foodSelections[0]].name}}
  </button>

  <p>For carbonhydrates:</p>
  <button ion-item *ngIf="dishes[foodSelections[1]]!==undefined">
    {{dishes[foodSelections[1]].name}}
  </button>

  <p>For protein:</p>
  <button ion-item *ngIf="dishes[foodSelections[2]]!==undefined">
    {{dishes[foodSelections[2]].name}}
  </button>

  <p>For dietary fiber:</p>
  <button ion-item *ngIf="dishes[foodSelections[3]]!==undefined">
    {{dishes[foodSelections[3]].name}}
  </button>

</ion-content>
